<!DOCTYPE html>
<html lang="en">
<head>
  <title>Online Banking</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <!--<a class="navbar-brand" href="{% url 'home' %}">Online Banking</a>-->
    </div>
    <ul class="nav navbar-nav">
      <li><a href=" {% url 'account_info' %}">Account Information</a></li>
      <li><a href=" {% url 'deposite' %}">Deposite</a></li>
      <li><a href="{% url 'withdraw' %}">Withdrawal</a></li>
      <li><a href="{% url 'payment' %}">Payment</a></li>
      <li><a href="{% url 'transaction' %}">Transaction Detail</a></li>
      <li><a href="{% url 'about' %}">About Us</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{% url 'online_home' %}"><span class="glyphicon glyphicon-user"></span> Log Out</a></li>
      <!--<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>-->
    </ul>
  </div>
</nav>
  <div>{%block value %}{% endblock%}</div>
<div class="container">
  {% block content %}{% endblock %}
</div>

</body>
</html>
